{% extends '@GallyBundle/emails/template/base.html.twig' %}

{% block subject %}{{ subject }}{% endblock %}

{% block body %}
    <p>{{ first_name|capitalize }} {{ last_name|upper }},</p>

    <p>{{ 'gally.user.email.reset_password.main_message'|trans({'%link%': '<a style="color:rgb(0, 164, 189);" href="%s">%s</a>'|format(token_url, 'gally.user.email.reset_password.main_message.link'|trans({}, 'gally_user'))}, 'gally_user')|raw }}</p>

    <p>{{ 'gally.user.email.reset_password.ignore_message'|trans({}, 'gally_user') }}</p>

    <p>{{ 'gally.user.email.reset_password.polite_message'|trans({}, 'gally_user') }}</p>
{% endblock %}
